.project{
    padding: 3.2rem 11rem;
}
.img{

    z-index: 20;
}
.img>img{
    height: 17rem;
    width: 17rem;
    border-radius: 0.34rem;
}
.project>.flex{
    gap: 2rem;
}
.element{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rit{
    box-shadow: 2px 2px 5px rgb(126, 126, 126);
    align-items: center;
}
.rit,.pro-content{
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
  gap: 1rem;
  justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    padding-left: 2rem;
}
.rev{
    flex-direction: row-reverse;
}
.rev>.pro-content{
    box-shadow: -2px 2px 5px rgb(126, 126, 126);
}
.rit,.pro-content{
    position: relative;
}
.rit::before,.pro-content::before{
    content: '';
    height: 4rem;
    width: 4rem;
    position: absolute;
    background-color: sandybrown;
    transform: rotate(45deg);
    left: -3rem;
    z-index: 1;
    top: 1.3rem;
    border: 0.4rem solid salmon;
}
.pro-content::before{
   left: 90%;
}
.rit>h1,.pro-content>h1{
    font-size: 1.8rem;
}
.rit>p,.pro-content>p{
    font-size: 1rem;
}
.project>.mar{
    margin: 0;
}

@media screen and (max-width:471px){
    .project{
        padding: 1rem 1.5rem;
    }
    .project>.flex{
        flex-direction: column;
        padding-top: 1rem;
    }
    .element{
        flex-direction: column;
        gap: 0.5rem;
    }
    .pro-content,.rit{
        overflow: hidden;
    }
    .rev{
       flex-direction: column;
    }
  .project>.mar{
    margin-top: 1rem;
  }
    
}
@media screen and (min-width:471px) and (max-width:768px){
    .project{
        padding: 1rem 2rem;
    }
    .project>.flex{
        flex-direction: column;
        padding-top: 1rem;
    }
    .pro-content::before{
        left: 92%;
     }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .project{
        padding: 2rem 1.5rem;
    }
   .project>.flex{
    gap: 0.3rem;
   }
   .img>img{
    height: 16.5rem;
    width: 100%;
    
}
.rit{
    padding-right: 0.3rem;
    padding-left: 1rem;
    width: 50%;
}
.rit::before{
    top: 12%;
    left: -4rem;
}
.pro-content{
    width: 50%;
    padding-left: 0.3rem;
    padding-right: 1.3rem;
}
.pro-content::before{
    top: 10%;
    left: 95%;
 }
}
@media screen and (min-width:1024px) and (max-width:1440px){
    .project{
        padding: 2rem 3rem;
    }
    
}
@media screen and (min-width:1440px) {
.project{
    padding: 2rem 5rem;
}
}