.choose{
    padding: 1rem 11rem;
    width: 100%;
}
.choose>h1{
    font-size: 3.5rem;
    text-align: center;
}
.choose>.box{
    width: 100%;
   padding: 1.5rem 3rem;
   justify-content: space-between;
   border-radius: 0.7rem;
}
.left-choose{
    flex: 1;
}
.left-choose>p{
    margin-top: 0.7rem;
}
.right-choose
{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-choose>img{
    width: 70%;
    height: 28rem;
    border-radius: 0.6rem;
    filter: drop-shadow(0em 0em 0.2em rgb(102, 102, 102));
}
.per{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.text{
    justify-content: space-between;
    color: rgb(102, 102, 102);
    margin-top: 1rem;
}
.good{
    width: 100%;
    height: 0.2rem;
    background-color:  rgb(102, 102, 102);
  
    /* opacity: 0.4; */
    position: relative;
    text-shadow: 1px 0px 5px rgb(102, 102, 102);
}
.good::before{
    content: '';
    width: 75%;
    height: 100%;
    background-color: sandybrown;
    position: absolute;
}
.mar{
    margin-top: 1rem;
}
@media screen and (max-width:471px) {
    .choose{
        padding: 1rem 1.5rem;
    }
    .choose>.flex{
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 1.5rem;
    }
    .per{
        width: 90%;
    }
    .right-choose img{
        height: 100%;
        width: 100%;
    }
    .choose>h1{
        font-size: 2rem;
        text-align: left;
    }
    
}
@media screen and (min-width:471px) and (max-width:768px){
    .choose{
        padding: 1.5rem 2rem;
    }
    .choose>.flex{
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 3rem;
    }
    .per{
        width: 50%;
    }
    .right-choose img{
        height: 40%;
        width:55%;
    }
    .choose>h1{
        font-size: 3rem;
        text-align: center;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .choose{
        padding: 2rem 2rem;
    }
    .choose>.box{
        padding: 2rem 1.5rem;
    }
    .left-choose{
        flex: 1;
    }
    .right-choose{
        flex: 0.6;
    }
    .right-choose img{
        width: 100%;
    }
}
@media screen and (min-width:1024px) and (max-width:1440px){
    .choose{
        padding: 2rem 3rem;
    }
}
@media screen and (min-width:1440px) {
.choose{
    padding: 2rem 5rem;
}
}